body{
    max-width: 1024px;
    font-size: 15px;
    margin: 0 auto;
    font-family: 'Montserrat'
}

header{
    background-color: whitesmoke;
}

img.img-header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
}

nav{
    background-color: whitesmoke;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    
}

nav ul li {
    float: left;
    padding:10px 45px;
    align-items: center;
    text-align: center;
   
}

nav ul li a {
    color: darkred;
    text-decoration: none;

}

nav ul li a:visited{
    color: darkslategray;
    font-style: italic;
}

h1, h2, p {
    padding: 8px 0;
}

h1{
    color:darkred;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 30px 0;
    font-weight: bold;
    text-transform: uppercase;
}

h1.rec{
    border-bottom: 1px solid;
    text-align: center;
}

h2{
    margin: 18px 0;
    color:firebrick;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    clear: both;
}

h2.hist{
    box-sizing: border-box;
    border: 2px solid darkred;
    text-align: center;

}

h2.gastro{
    text-align: center;
    margin: 18px 0;
    color:firebrick;
    border-bottom: 1px solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    clear: both;
}

div.infoppal{
    margin: 50% auto;
    color: darkred;
    padding: 10px;
    margin-top: 2px;
    
    
}
p.caja{
    box-sizing: border-box;
    border: 2px solid darkred;
    margin: 10px;
    width: 45%;
    float: left;
    padding: 5px 10px;
    height: 225px;
}

.mapa1{
    float: left;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 15px;

}

table{
    font-size: 11px;
    width: 90%;
    margin: 0 auto;
    line-height: 1px;
    border: darkred 1px solid;
    
}

th{
    background-color: darkred;
    color: whitesmoke;
    margin-left: 1px;
}

tr{
    border: 1px solid darkred;
    line-height: 1.5em;
}

td{
    border: 1px solid darkred;
    line-height: 1.5em;
    margin-left: 2px;
    text-align: center;
}

td:nth-child(2){
    font-size: 13px;
    color: maroon;
    background-color: rgba(139, 0, 0, 0.178);
    width: 15%;
}

td:nth-child(5){
    background-color:  rgba(139, 0, 0, 0.178);
    color: maroon;
    width: 12%;
    margin-left: 2px;
    margin-right: 2px;
    
}

td :nth-child(6){
    width: 15%;
}

img.monumento{
    width: 200px;
    float: left;
}


.link{
    color: darkslategray;
    text-align: center;
}

.link:visited{
    color: darkgreen;
}

img.gastronomiadcha{
    height: 200px;
    float: right;
    display: block;
    margin-right: 5px;
}

img.gastronomiaizk{
    height: 200px;
    float: left;
    display: block;
    margin-left: 5px;
}

img.recom{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color:darkred;
    padding: 15px 5px;
    overflow: hidden;
    margin: 0.5px;
    text-align: center;
}

.bandera{
    height: 30px;
}
.Viena{
    color: whitesmoke;
}
